
<div class="row mt-4">
    <div class="col d-flex align-items-center justify-content-center">
        <h1><b>{{ city }}'s Weather</b></h1>
        <img src="http://openweathermap.org/img/wn/{{ weather?.icon }}@2x.png"
          alt="{{ weather?.icon }}">
    </div>
</div>

<div class="row mt-5">
    <div class="d-flex align-items-center justify-content-center">
        <table>
            <tr>
                <td colspan="2" style="text-align: center;" >
                    <b>Location:
                    {{ weather?.cityName }}</b></td>
            </tr>
            <tr>
                <td><b>Description: </b>{{ weather?.main }},
                    <i>{{ weather?.description }}</i></td>
            </tr>
            <tr>
                <td><b>Temperature: </b>{{ weather?.temperature | number:"1.2-2" }}
                    <sup>o</sup>C</td>
                <td><b>Humidity: </b>{{ weather?.humidity }}%</td>
            </tr>
        </table>
    </div>
</div>

<button type="button"
  class="btn btn-dark row mt-5"
  style="background-color: black"
  [routerLink]="['/']">
  <b>Search for another location</b></button>

<div style="position: fixed; bottom: 0">
    Current weather data is powered by&nbsp;
    <a href="https://openweathermap.org/current">
      <i>Weather API from OpenWeather</i></a>
</div>

<!-- style="margin-left: -5%; position: fixed; bottom: 7%;" -->
<!-- class="col d-flex flex-row" -->
