<div class="container">

  <div class="row mt-5">
    <div class="col d-flex justify-content-center">
      <h1 style="font-size: 2em"><b>Welcome to Ian's Weather Map</b></h1>
    </div>
  </div>

  <div class="col-sm-6 centre">
    <div class="row mt-5">
      <table>
        <tr *ngFor="let i of cities">
          <td><a (click)="selectCity(i)">{{ i }}</a></td>
        </tr>
        </table>
      </div>
    </div>

</div>

<!-- <form method="GET" action="/weather">
  <label class="form-label"><b>Please enter the country/city:</b></label>

  <div class="input-group">
      <input type="text" name="location" id="location" required size="80"
          placeholder="Please enter a country/city" class="form-control">

      <button type="submit" class="btn btn-warning"
          style="background-color: black">
          <span style="color:white"><b>Go!</b></span>
      </button>
  </div>
</form> -->
